# Setup

In [35]:
import pandas as pd

In [36]:
# Searching within Strings
test_string = "This brown fox jumped over the lazy dog at 3pm in the morning."
df = pd.read_csv(r'/home/jovyan/flight_data.csv')

# Basic String Functions

In [40]:
test_string

'This brown fox jumped over the lazy dog at 3pm in the morning.'

In [43]:
# Search if a substring is within a string
print('airforce' in test_string)

False

In [45]:
# Search if a substring is within each string in the column
df['call_sign'].apply(lambda x: 'SWA' in x)

0          False
1           True
2          False
3          False
4           True
           ...
2173707    False
2173708    False
2173709     True
2173710    False
2173711     True
Name: call_sign, Length: 2173712, dtype: bool

In [47]:
# Finding if a string starts with
test_string.startswith('brown')

False

In [49]:
test_string

'This brown fox jumped over the lazy dog at 3pm in the morning.'

In [50]:
# Finding if a string ends with 
print(test_string.endswith('.'))

True

In [52]:
test_string

'This brown fox jumped over the lazy dog at 3pm in the morning.'

In [51]:
print('First instance of jumped in the test_string is', test_string.index('jumped'))

First instance of jumped in the test_string is 15

In [55]:
# Search by Index
print('First instance of jumped in the test_string is', test_string.index('jumped'))

test_string.index('brother')

First instance of jumped in the test_string is 15

ValueError: substring not found

In [56]:
# Search by Find
print('First instance of jumped in the test_string is', test_string.find('jumped'))

test_string.find('double')

First instance of jumped in the test_string is 15

-1

# Pandas String Functions and Regex

In [62]:
# Get countries starting with letter P
S=pd.Series(['Finland','Colombia','Florida','Japan','Puerto Rico','Russia','france'])
S[S.str.match(r'^P.*')==True]

4    Puerto Rico
dtype: object

In [65]:
S[S.str.match(r'^P.*')==True]

4    Puerto Rico
dtype: object

In [66]:
# Python Findall
S=pd.Series(['Finland','Colombia','Florida','Japan','Puerto Rico','Russia','france'])
[itm[0] for itm in S.str.findall('^[Ff].*') if len(itm)>0]

['Finland', 'Florida', 'france']

In [67]:
# Panda Contains
df[df['call_sign'].str.contains('5.7')==True]

,airport,call_sign,time,event,departure_airport,destination_airport
116,KDCA,SWA4547,2020-02-09 00:15:09,off,KDCA,KFLL
283,KMSY,UAL537,2019-07-26 21:52:21,off,NaN,NaN
345,KATL,SWA5677,2020-01-01 14:00:29,on,KDAL,KATL
365,KPHX,AAL537P,2019-02-04 02:43:02,on,MMSD,KPHX
408,KMDW,SWA537,2020-02-17 17:25:26,off,KMDW,KTPA
...,...,...,...,...,...,...
2172921,KHOU,SWA5876,2020-06-25 14:14:44,off,KHOU,KOAK
2172965,KCLT,AAL1577,2020-02-03 04:39:23,on,KMIA,KCLT
2173158,KBOS,SWA5587,2020-02-29 12:28:25,off,KBOS,KBWI
2173369,KDFW,AAL1527,2019-02-11 16:00:16,on,KMSN,KDFW
2173424,KMSY,UAL537,2019-08-23 21:54:43,off,NaN,NaN

In [68]:
# finding a number after the string AL#
df[df['call_sign'].str.contains('[0-9]')==True]

,airport,call_sign,time,event,departure_airport,destination_airport
0,KEWR,UAL1974,2019-02-26 00:38:51,on,KMIA,KEWR
2,KDFW,DAL1556,2020-04-03 22:30:32,off,KDFW,KLGA
3,KDFW,DAL1766,2019-03-22 05:13:07,on,KSLC,KDFW
5,KSLC,DAL1672,2020-01-19 15:41:49,off,KSLC,KLGB
6,KIAH,UAL1855,2020-03-22 11:13:30,on,KAUS,KIAH
...,...,...,...,...,...,...
2173705,KSDF,DAL3076,2019-02-19 18:15:51,on,KATL,KSDF
2173706,KDEN,AAL2531,2020-01-10 06:41:36,on,KMIA,KDEN
2173707,KSAN,AAL2066,2019-04-08 04:40:46,on,KPHL,KSAN
2173708,KEWR,UAL421,2019-01-08 01:53:30,off,KEWR,KBOS
2173710,KSFO,UAL2026,2020-03-30 16:21:43,on,NaN,NaN

In [69]:
# Looking for end of string numbers in call_sign
df[df['call_sign'].str.contains('[A-Z][0-9]$')==True]

,airport,call_sign,time,event,departure_airport,destination_airport
592,KSAN,SWA9,2020-01-16 21:35:15,on,KAUS,KSAN
916,KJFK,AAL1,2019-02-05 12:45:51,off,KJFK,KLAX
1319,KJFK,AAL1,2020-08-17 11:40:12,off,KJFK,KLAX
3256,KHOU,SWA1,2020-05-29 12:48:13,on,KDAL,KHOU
3301,PHNL,AAL5,2020-02-18 01:42:23,on,NaN,NaN
...,...,...,...,...,...,...
2171422,KJFK,AAL2,2020-02-20 20:31:02,on,KLAX,KJFK
2171542,KHOU,SWA4,2020-06-06 12:08:56,off,KHOU,KDAL
2172937,KLAX,AAL4,2020-03-29 18:07:23,off,KLAX,KJFK
2173052,KIAH,AAL9,2020-07-22 21:57:35,off,KIAH,KORD
2173169,KLAX,AAL2,2020-08-10 15:12:43,off,KLAX,KJFK

# Re Module

In [18]:
import re

In [28]:
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

In [29]:
x.span()

(0, 17)

In [20]:
re.findall("i", txt)

['i', 'i', 'i']

In [21]:
re.split("i",txt)

['The ra', 'n ', 'n Spa', 'n']

In [22]:
re.sub("i","n",txt)

'The rann nn Spann'